# Cloudflare Tunnel Token
# Dapatkan token dari Cloudflare Zero Trust Dashboard:
# https://one.dash.cloudflare.com/ -> Networks -> Tunnels -> Create Tunnel
CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoiYzVhMDA5ODM4Y2MyYmZjMWJlYzFhZTE5YzE3ZjI4ZmYiLCJ0IjoiMzJlZWQyYjctZDlhOS00MTk2LTg1NmUtMzI3NDRjOWNhZjZlIiwicyI6Ik9UQm1aV00xT1dJdFpqTTJOeTAwWTJReUxUaGtOV010TkdRNE5qQXpPV1ZtWldWayJ9abcde
